/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.logoMain{
    width: 150px;
    padding-top: 7px;
}

.blockquoteError{
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid red;
}

.width20{
    width: 20%;
}

.cardimg{
    width: 220px;
}

.paddin-5{
    padding-top: 5px;
}

.width60{
    width: 60%;
}

.mitad{
    float: left; width: 49%;
}

.tercio{
    width: 33%;
    display: inline-block;
}

.inlineblock{
    display: inline-block;
}

.imgAlergia{
    width: 40px; margin: 2px;
}

.tercio2{
    float: left; width: 33%;
}

.paddin-5-l{
    padding-left: 5px;
}

.operando{
    float: left; width: 33%; padding-top: 7px;
}

.propinaInput{
    padding-top: 10px; padding-right: 40px;
}

.consejoPropina{
    visibility: hidden; display: none
}

.paddin-8{
    padding-left: 8px;
}

.padding-range{
    padding-top: 1px;
}

.tieneImagen{
    z-index: 0;
    height: 200px;
}

.tabs-content.carousel.carousel-slider .carousel-item.active{
    position: relative;
}


.tabs-content {
  height: auto !important;
  min-height: 100%;
}

.notieneImagen{
    z-index: 0;
    height: 150px;
    padding-top: 25px;
    padding-right: 20px;
}

.ocultar{
    visibility: hidden;
    display: none;
}

/* Yii2.ThemeFactory.net */
.jumbotron {
    text-align: center;
    border: 1px solid #ddd;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #5c6bc0  !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #5c6bc0  !important;
    box-shadow: 0 1px 0 0 #5c6bc0  !important;
}